
img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 4px;
    float: left;

}
#aboutbox
{
    margin-top: 5%;
    margin-left: 15%;
    width: 80vw;
    height: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #ffffff;

}
#hat
{
    width: 95%;
}
#about
{
    
    font-size: 22px;
    text-align: justify;
    padding-left: 10px;
    width: 95%;


}

h2
{
    padding-left: 10px;
    color: #4aaaa5;
    font-size: 44px;
}

@media screen and (max-width: 980px)
{
    #aboutbox
    {
        margin-top: 15%;
        margin-left: 10%;
        width: 80%;
        height: 80%;
    }
    #about
    { 
        font-size: 20x;
    }
}
@media screen and (max-width: 768px)
{
    #aboutbox
    {
        margin-top: 15%;
        margin-left: 10%;
        width: 80%;
        height: 80%;
    }
    #about
    { 
        font-size: 20x;
    }
}
@media screen and (max-width: 640px)
{
    #aboutbox
    {
    
        margin-top: 15%;
        margin-left: 10%;
        width: 80%;
        height: 80%;
    }
    #about
    { 
        font-size: 20x;
    }
} 
