#content
{
    margin-top: 2%;
    /* margin-bottom: 2%; */
    margin-left: 15%;
    margin-right: 15%;

    width: 80vw;
    height: 750px;
    border-style: solid;
    border-width: 1px;
    padding-left: 25px;
    border-color: #dddddd;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}
h2
{
    color: #4aaaa5;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 30px;
}

.game
{
    margin-left: 1%;
    margin-top: 1%;
    width: 250px;
    height: 250px;
}


@media screen and (max-width: 980px)
{

}
@media screen and (max-width: 768px)
{
    #content
    {
        /* flex-direction: row; */

        margin-left: 12.5%;
        margin-right: auto;

    }
}
@media screen and (max-width: 640px)
{

    .game
    {
        padding-left: 10%;
    }
    #content
    {
        display: inherit;
        margin-top: 15%;
        height: 100%;
        width: 70%;
        margin-left: 12.5%;
        margin-right: auto;

    }
   #hide
   {
       display: none;
   }
}
